---
import Layout from "../layouts/Layout.astro"
import { Expander } from "fluent-svelte"
import Why from "../assets/about-symbolic.svg?raw"
import AppsList from "../assets/computer-chip-symbolic.svg?raw"
import Online from "../assets/online-symbolic.svg?raw"
import PuzzlePiece from "../assets/puzzle-piece-symbolic.svg?raw"
---

<Layout title="mollermethod FAQ" description="some questions you may have, answered.">
	<h1>FAQ</h1>
	<p>nobody actually asked me these i'm just guessing lol</p>
	<Expander client:load>
		<Fragment slot="icon" set:html={Why} />
		What is mollermethod?
		<p slot="content">
			We're not sure either. It's like if Infinite Yield and DomainX had a baby.
		</p>
	</Expander>
	<Expander client:load>
		<Fragment slot="icon" set:html={AppsList} />
		What exploits does mollermethod work with?
		<ul slot="content">
			<li>Script-Ware (exploit mollermethod's maintainer uses)</li>
			<li>Synapse X (friends tested it)</li>
			<li>Krnl (I saw it working once on it)</li>
			<li>
				Fluxus (You might need to <a href="/mollermethod.rbxm" download rel="external"
					>download the .rbxm and save it to your workspace
				</a>, then run mollermethod with debug on)
			</li>
		</ul>
	</Expander>
	<Expander client:load>
		<Fragment slot="icon" set:html={Online} />
		Where can I find plugins for mollermethod?
		<Fragment slot="content">
			<p>
				mollermethod has a compatibility layer for <a
					href="https://github.com/EdgeIY/infiniteyield"
					>Infinite Yield
				</a>
				plugins, and will automatically read your Infinite Yield config to load them. You can
				find Infinite Yield plugins on
				<a href="https://github.com/Infinite-Store/Infinite-Store">Infinite Store.</a>
			</p>
			<p>
				mollermethod also has its <a href="/api" sveltekit:prefetch>own plugin API</a>,
				allowing you to make custom actions (shows in both Bracket & Mollybdos), commands
				(shows in Bracket), and tags (shows in Mollybdos).
			</p>
		</Fragment>
	</Expander>
	<Expander client:load>
		<Fragment slot="icon" set:html={PuzzlePiece} />
		How do I load in mollermethod plugins?
		<Fragment slot="content">
			<p>Put it in the <code>plugins</code> array, like this:</p>
			<pre>{`loadstring(game:HttpGet 'https://mthd.ml') {
	-- \`plugins\` is an array of scripts as strings that will get loadstring'd by mollermethod.
	plugins = {
		-- These are examples.
		readfile 'path-to-file-in-workspace.lua',
		game:HttpGetAsync 'https://plugin.com/plugin.lua'
	}
}`}</pre>
		</Fragment>
	</Expander>
</Layout>

<style>
	:global(svg) {
		fill: currentColor;
	}
</style>
