---
import Layout from '../layouts/Layout.astro'
import { Button } from 'fluent-svelte'
import hero from '../assets/hero.png'
---

<Layout title="mollermethod" description="Scripting, unleashed." center>
	
<h4>
	<img src="/icon.png" alt="mollermethod" aria-hidden width="20"/>
	mollermethod
</h4>
<h1>Truly unleashed.</h1>
<nav>
	<code>{`loadstring(game:HttpGetAsync '${Astro.url}') {}`}</code>
	<Button variant="hyperlink" href="/api">Read API docs</Button> <Button variant="hyperlink" href="/faq">FAQ</Button>
</nav>
	
<img src={hero} alt="mollermethod" aria-hidden class="giant" width="700"/>
<img src="/icon.png" alt="mollermethod" aria-hidden class="giant2" width="1000"/>

</Layout>


<style>
	code {
		max-width: max-content;
		padding: 1em;
		box-sizing: border-box;
		font-size: 13px;
		font-family: "JetBrains Mono", ui-monospace, "Input Mono", "Cascadia Mono", "Segoe UI Mono",
			"Ubuntu Mono", "Roboto Mono", "Fira Code", Menlo, Monaco, Consolas, monospace;
		background-color: var(--fds-solid-background-secondary);
		border-radius: 3px;
		overflow-x: auto;
		color: var(--fds-text-primary);
	}

	article {
		display: flex;
		justify-content: center;
		gap: 1ch;
		flex-direction: column;
		min-height: 100%;
	}

	.giant {
		position: absolute;
		right: 32px;
		max-width: 700px;
		width: 100%;
		border-radius: var(--fds-control-corner-radius);
		box-shadow: 0 0 1em rgba(0,0,0,0.5);
	}
	.giant2 {
		position: fixed;
		left: 0;
		bottom: -20%;
		left: -10%;
		opacity: 1%;
		z-index: -1;
		max-width: 100vw;
		aspect-ratio: 1 / 1;
	}
	@media (max-width: 1700px) {
		.giant {
			position: static;
		}
	}
	@media (prefers-color-scheme: light) {
		.giant2 {
			filter: invert(100%);
		}
	}
	h4 {
		margin: 0;
		display: flex;
		align-items: center;
		gap: 1ch;
		flex-direction: row;
	}
	nav {
		display: flex;
		align-items: center;
		gap: 0;
		flex-direction: row;
		flex-wrap: wrap;
	}
</style>
