footer {
	text-align: right;
}
section:not(:last-child) {
	min-height: 70%;
}
.giant {
	font-size: 1.5em;
	z-index: -50;
	position: absolute;
	/*         top: 40px; */
	right: -400px;
}
p,
blockquote {
	max-width: 400px;
}
blockquote {
	border-radius: 1em;
	padding: 0.5em;
	margin: 0;
	box-sizing: border-box;
	background: canvas;
	filter: invert(0.25);
}
body {
	overflow-x: hidden;
	padding-left: 10rem;
}
pre.giant {
	right: 0;
}
:root {
	font-family: "Gotham SSm", "Roboto", sans-serif;
}
@media (max-width: 1605px) {
	.giant {
		display: none;
	}
	body {
		padding-left: 0;
	}
}
