* {
	box-sizing: border-box;
}
nav {
	display: flex;
	gap: 1ch;
	margin: 0.5em;
	border-radius: 1em;
	overflow-y: auto;
	background: rgba(255, 255, 255, 0.1);
	padding: 0.5em;
	flex-direction: column;
	grid-area: nav;
}
main {
	flex-grow: 1;
	display: flex;
	gap: 1ch;
	flex-direction: column;
}
textarea {
	tab-size: 2;
	resize: none;
	border: none;
	background: none;
	grid-area: output;
}

html,
body {
	min-height: 100vh;
	margin: 0;
	padding: 0;
}

body {
	display: grid;
	font-family: "Segoe UI Variable Text", "Seoge UI Variable Static Text", "Segoe UI", system-ui,
		sans-serif;
	grid-template-areas: "nav output output output";
}

hr {
	width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Segoe UI Variable Display", "Seoge UI Variable Static Display", "Segoe UI",
		system-ui, sans-serif;
}

@media (max-width: 1024px) {
	body {
		grid-template-areas: "nav" "output" "output" "output";
	}
	textarea {
		width: 100%;
	}
}
label {
	user-select: none;
}
