* {
	box-sizing: border-box;
}
nav {
	display: flex;
	gap: 1ch;
	margin: 0.5em;
	border-radius: 1em;
	overflow-y: auto;
	background: rgba(255, 255, 255, 0.1);
	padding: 0.5em;
	flex-direction: column;
	grid-area: nav;
}

textarea {
	resize: none;
	border: none;
	background: none;
	grid-area: output;
}

html,
body {
	min-height: 100vh;
	margin: 0;
	padding: 0;
}

body {
	display: grid;
	grid-template-areas: "nav output output output";
}

hr {
	width: 100%;
}
@media (max-width: 1024px) {
	body {
		/* display: contents; */
		grid-template-areas: "nav" "output" "output" "output";
	}
	textarea {
		width: 100%;
	}
}
label {
	user-select: none;
}
