/src/Trendsetter/ @Jack5079
/src/Mollybdos/ @Auxnos @Jack5079
/src/Bracket/ @Auxnos @tactical-manx75
/src/actions.ts @Auxnos @Jack5079 @tactical-manx75
/src/Notification.tsx @Auxnos
/static/ @Jack5079
/README.md @Jack5079
