name: Gource

on:
  workflow_dispatch: {}
 
jobs:
  action:
    runs-on: ubuntu-latest

    steps:
      - name: 'Checkout'
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
        
      - name: 'Gource Action'
        uses: nbprojekt/gource-action@v1
        with:
          gource_auto_skip_seconds: 3
          avatars_auto_fetch: true
          gource_time_scale: 1
          gource_title: "Catay"
      
      - name: 'Upload gource video'
        uses: actions/upload-artifact@v2
        with:
          name: Gource
          path: ./gource/gource.mp4
